<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />   
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
            
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
            
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <title>Dashboard</title>
        <style>
            body{
                background-image: url(https://static.vecteezy.com/system/resources/previews/005/964/667/original/welcome-back-to-school-background-template-school-supplies-on-white-background-vector.jpg);
                background-repeat:no-repeat;
                background-size: cover;
                background-position: center; 
            }
            h1{
                padding-top: 2%;
                padding-left: 16%;
                font-size: 40px;
                color: white;
            }
            h3{
                padding-left: 10%;
                padding-top: 3%;
                font-size: 30px;
            }
            h4{
                padding-left: 30%;
                padding-top: 3%;
                font-size: 30px;
            }
            .c1{
                background-color: black;
                padding-bottom: 1%;
            }
            .class1{
                font-size: 20px;
                font-weight: bold;
                margin-left: 1%;
                background-color: #80669d;
            }
            .parent {
                margin: 1rem;
                padding: 1rem 1rem;
                text-align: center;
            }
            .child {
                display: inline-block;
                padding: 1rem 1rem;
                vertical-align: middle;
            }
            .button {
                display: inline-block;
                border-radius: 6%;
                background-color:rgba(9, 61, 116, 0.79);
                border: none;
                color: #FFFFFF;
                text-align: center;
                font-size: 28px;
                padding: 1%;
                width: 12%;
                transition: all 0.5s;
                cursor: pointer;
                margin-top: 2%;
                margin-left: 38%;
            }
            .button span {
                cursor: pointer;
                display: inline-block;
                position: relative;
                transition: 0.5s;
            }

            .button span:after {
                content: '»';
                position: absolute;
                opacity: 0;
                top: 0;
                right: -20px;
                transition: 0.5s;
            }

            .button:hover span {
                padding-right: 15%;
            }

            .button:hover span:after {
                opacity: 1;
                right: 0;
            }
            .button1{
                outline: none;
                border: none;
                margin-left: 90%;
            }
            .button1:hover {
                box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
            }
        </style>
    </head>
    <body>
        <div class="c1">
        <h1>BVRIT HYDERABAD College of Engineering for Women</h1> </div>
        <h3>Student Dashboard</h3>
        <form action="/login" method="get">
            <button class="button1" style="background-color:none ;"><img src="https://findicons.com/files/icons/1786/oxygen_refit/128/gnome_panel_force_quit.png" height="50px" width="50px"></button>
        </form>
        <h4>Hi <%= data.name %>!</h4>
                <form method = 'get' action = '/status'>
                    <input type = 'text' id = 'rno' name = 'rolno' value = <%= data.rno %> hidden readonly>
                    <input type ="password" id = 'pd' name = 'pwd' value = <%= data.pwd %> hidden readonly><br>
                    <!--<input type="submit" value="Status"><br><br>-->
                    <!--<button class="class1 btn btn-light">Status</button>-->
                    <button class="button"><span>Status </span></button>
                </form>
                <form method = 'get' action = '/loginstudent'>
                    <input type = 'text' id = 'rno' name = 'rolno' value = <%= data.rno %> hidden readonly>
                    <input type ="password" id = 'pd' name = 'pwd' value = <%= data.pwd %> hidden readonly><br>
                    <button class="button"><span>Permission Request</span></button>
                    <!--<input type="submit" value="Permission Request"><br><br>-->
                </form>
            
    
    </body>
</html>
<!--<html>
    <head>
        <title>Dashboard</title>
    </head>
    <body>
        <h1 align = center>BVRIT HYDERABAD College of Engineering for Women</h1>
        <h2>Student_Dashboard</h2>
        <p style="font-size: 70%;">Hi <%= data.name %>!</p>
        <form method = 'get' action = '/status'>
            <input type = 'text' id = 'rno' name = 'rolno' value = <%= data.rno %> hidden readonly>
            <input type="submit" value="Status"><br><br>
        </form>
        <form method = 'get' action = '/loginstudent'>
            <input type = 'text' id = 'rno' name = 'rolno' value = <%= data.rno %> hidden readonly>
            <input type="submit" value="Permission Request"><br><br>
        </form>
    </body>
</html>-->
